html {
    background: #181d20;
}

body {
    background: #181d20;
    color: #fefefe;
    font-size: 13px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.table-header {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    min-height: 24px;
    height: auto;
    padding: 0 16px;
}

.table-header > md-checkbox {
    width: 24px;
    margin-left: 3px;
    margin-right: 29px;
    margin-top: 16px;
}

.buffer-right {
    margin-right: 10px;
}

ul.breadcrumb-list {
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
}

ul.breadcrumb-list li {
    display: inline;
}

ul.breadcrumb-list li span {
    padding: 2px 5px;
}

.crumb {
    border-radius: 5px;
    background-color: #2e383b;
}

.crumb.clickable {
    color: dodgerblue;
    cursor: pointer;
}

.crumb.clickable:hover {
    text-decoration: underline;
}

.table-header > md-checkbox,
md-list-item .md-list-item-inner > md-checkbox,
md-list-item > md-checkbox {
    margin-top: 4px;
    margin-bottom: 4px
}

md-list-item,
md-list-item.md-no-proxy.md-button,
md-list-item .md-no-style.md-button,
md-list-item::before,
md-list-item .md-list-item-inner::before {
    min-height: 24px;
}

md-checkbox .md-container::after,
md-list-item, md-list-item .md-list-item-inner {
    line-height: 24px;
}

md-checkbox .md-icon,
md-checkbox .md-container {
    width: 16px;
    height: 16px;
}

md-checkbox.md-checked .md-icon::after {
    width: 5.33333px;
    height: 10.66667px;
    left: 3.66667px;
    top: .11111px;
}

.fa16 {
    font-size: 16px;
}

.collapsible {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-controls .md-button {
    text-transform: none;
    background-color: #2e383b;
    margin-top: 0;
    margin-bottom: 0;
}

.table-controls .md-button[disabled] {
    background-color: #1e272a;
}

.md-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.scrollable {
    overflow: hidden;
    position: relative;
    /*height: 80%;*/
}

.title {
    text-align: center;
    margin: 8px 0;
}
